<?php



//RESOURCE_CATEGORY_CLASS_MAPPING:
//This setting can be used when migrating resource categories
//from the old room and resource management system to the new one.
//If the setting is set to null, the mapping will be done on best guess.
//If the setting is an array, the class name to be used for a resource
//category will be assigned by the content of the array.
//The resource category name must be the array index and
//the resource class name the corresponding value.
//All resource categories not mentioned in the array will get the default
//"Resource" class assigned to them.
//The following SORM classes are available:
//- Resource: A general resource with no specialisations.
//- Room: A specialisation of the Resource class for rooms.
//- Building: A specialisation of the Resource class for buildings.
//- Location: A specialisation of the Resource class for locations.
//Example:
//You have three resource categories named "Standort", "Gebäude" and "Hörsaal".
//The corresponding SORM classes are "Location", "Building" and "Room".
//To map the resource categories to class names use the following
//values in the array:
//$GLOBALS['RESOURCE_CATEGORY_CLASS_MAPPING'] = [
//    'Standort' => 'Location',
//    'Gebäude' => 'Building',
//    'Hörsaal' => 'Room'
//];


$GLOBALS['RESOURCE_CATEGORY_CLASS_MAPPING'] = [
    'Campus' => 'Location',
    'Gebäude' => 'Building',
    'Hörsaal' => 'Room',
    'Raum' => 'Room',
    'Sporthalle' => 'Room',
    'Standort' => 'Location',
    'Übungsraum' => 'Room',
    'Campusbereich' => 'ResourceLabel',
    'Gerät' => 'Device',
    'Fahrrad' => 'Bicycle',
    'KfZ' => 'Car'
];


$GLOBALS['RESOURCE_CATEGORY_RENAME'] = [
    'KfZ' => 'Kfz'
];


$GLOBALS['RESOURCE_ADMINISTRATION_PERSON_URL'] = 'https://example.org/person/%s';


$GLOBALS['RESOURCE_MIGRATION_RESOURCE_TREES_TO_BE_DELETED'] = [
    '61da63b944a6b6752f42d9b4ed203330'
];

/**
 * Whether course bound resource permissions shall be migrated.
 * If this is set to false, all course bound permissions are deleted.
 * In case this is set to true, all course members get autor permissions
 * on that resources where the course had permissions.
 */
$GLOBALS['RESOURCE_MIGRATION_MIGRATE_COURSE_PERMISSIONS'] = true;


/**
 * This variable contains the IDs of resource property definitions
 * that shall be deleted. If a resource property is listed here,
 * its connections to resources, resource requests and resource categories
 * are also deleted.
 */
$GLOBALS['RESOURCE_PROPERTIES_TO_BE_DELETED'] = [
    'c4352a580051a81830ef5980941c9e06' //"Seriennummer" duplicate
];


/**
 * This variable defines if the resource migration shall migrate
 * course bound permissions into the tables of the SpecialResourcesPlugin
 * that can handle resources in courses.
 */
$GLOBALS['RESOURCE_MIGRATION_SPECIALRESOURCESPLUGIN'] = true;


/**
 * This variable defines a regex for splitting property names
 * into the real name and the property group that has been put in the
 * property name in the old room and resource management system.
 */
$GLOBALS['RESOURCE_MIGRATION_PROPERTY_GROUP_PROPERTY_NAME_REGEX'] = '/\:\ /';


$GLOBALS['RESOURCE_MIGRATION_NEW_PROPERTY_GROUP_LIST'] = [
];


/**
 * Array explaination:
 * The key of an array entry is the old name of the property.
 * The value consists of an associative array with the following fields:
 * - name: The name of the new property-
 * - old_type: The type of the old property.
 * - requestable: Whether the property shall be requestable (optional).
 * - searchable: Whether the property can be used as search parameter or not
 *   (optional).
 * - range_search: Whether the search for this property will be a range search (true)
 *   or not (false). Defaults to false. With this flag, the corresponding
 *   property values will be regarded as minimum value when searching.
 */
$GLOBALS['RESOURCE_PROPERTIES_TO_BE_MODIFIED'] = [
    'Info: Belegungsplan anzeigen?' => [
        'name' => 'booking_plan_is_public',
        'old_type' => 'bool',
        'requestable' => false,
        'searchable' => false
    ],
    'Adresse' => [
        'name' => 'address',
        'old_type' => 'text',
        'requestable' => false,
        'searchable' => false
    ],
    'Audio-Anlage' => [
        'name' => 'Audio-Anlage',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'Ausstattung: Beamer/ Display' => [
        'name' => 'Ausstattung: Beamer/ Display',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'Ausstattung: behindertengerechte Toiletten' => [
        'name' => 'Ausstattung: behindertengerechte Toiletten',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'Ausstattung: Blindenleitsystem' => [
        'name' => 'Ausstattung: Blindenleitsystem',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'Ausstattung: Lautsprecher' => [
        'name' => 'Ausstattung: Lautsprecher',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'Ausstattung: Mikrofon' => [
        'name' => 'Ausstattung: Mikrofon',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'Ausstattung: Personenaufzug' => [
        'name' => 'Ausstattung: Personenaufzug',
        'old_type' => 'bool',
        'requestable' => false,
        'searchable' => true
    ],
    'Ausstattung: Rollstuhlsitzplätze' => [
        'name' => 'Ausstattung: Rollstuhlsitzplätze',
        'old_type' => 'num',
        'requestable' => true,
        'searchable' => true
    ],
    'Ausstattung: Verdunklung' => [
        'name' => 'Ausstattung: Verdunklung',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'Ausstattung: W-LAN' => [
        'name' => 'Ausstattung: W-LAN',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'Bauart' => [
        'name' => 'Bauart',
        'old_type' => 'select',
        'requestable' => true,
        'searchable' => true
    ],
    'Beamer' => [
        'name' => 'Beamer',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'behindertengerecht' => [
        'name' => 'behindertengerecht',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'Info: Sitzplätze' => [
        'name' => 'seats',
        'old_type' => 'num',
        'requestable' => true,
        'searchable' => true,
        'range_search' => true
    ],
    'Info: Raumtyp' => [
        'name' => 'room_type',
        'old_type' => 'select',
        'requestable' => true,
        'searchable' => true
    ],
    'Kraftstoff' => [
        'name' => 'Kraftstoff',
        'old_type' => 'select',
        'requestable' => true,
        'searchable' => true
    ],
    'Letzte Inspektion' => [
        'name' => 'Letzte Inspektion',
        'old_type' => 'num',
        'requestable' => false,
        'searchabel' => false
    ],
    'Marke/Modell' => [
        'name' => 'Marke/Modell',
        'old_type' => 'select',
        'requestable' => true,
        'searchable' => true
    ],
    'Seriennummer' => [
        'name' => 'Seriennummer',
        'old_type' => 'num',
        'requestable' => false,
        'searchable' => true
    ],
    'Sitzplätze' => [
        'name' => 'seats',
        'old_type' => 'num',
        'requestable' => true,
        'range_search' => true,
        'searchable' => true
    ],
    'Sitzplätze KfZ' => [
        'name' => 'Sitzplätze KfZ',
        'old_type' => 'select',
        'requestable' => true,
        'searchable' => true
    ],
    'Sonderausstattung' => [
        'name' => 'Sonderausstattung',
        'old_type' => 'select',
        'requestable' => true,
        'searchable' => true
    ],
    'Sonderausstattung 2' => [
        'name' => 'Sonderausstattung 2',
        'old_type' => 'select',
        'requestable' => true,
        'searchable' => true
    ],
    'Tageslichtprojektor' => [
        'name' => 'Tageslichtprojektor',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ],
    'Verdunklung' => [
        'name' => 'Verdunklung',
        'old_type' => 'bool',
        'requestable' => true,
        'searchable' => true
    ]
];


$GLOBALS['RESOURCE_PROPERTIES_TO_BE_MERGED'] = [
    [
        'name' => 'geo_coordinates',
        'type' => 'position',
        'display_name' => 'Koordinaten',
        'sources' => [
            [
                'name' => 'Info: Koordinate (lng)',
                'type' => 'num'
            ],
            [
                'name' => 'Info: Koordinate (lat)',
                'type' => 'num'
            ]
        ],
        'requestable' => false,
        'value_conversion' => function ($old_values) {
            $latitude = trim($old_values['Info: Koordinate (lat)']);
            $longitude = trim($old_values['Info: Koordinate (lng)']);
            if (!$latitude) {
                $latitude = '0.0';
            }
            if (!$longitude) {
                $longitude = '0.0';
            }
            $lat_positive = true;
            $lon_positive = true;

            if (floatval($latitude) < 0) {
                $lat_positive = false;
            }
            if (floatval($longitude) < 0) {
                $lon_positive = false;
            }

            return sprintf(
                '%1$s%2$s%3$s%4$s+0.0CRSWGS_84/',
                ($lat_positive ? '+' : ''),
                $latitude,
                ($lon_positive ? '+' : ''),
                $longitude
            );
        }
    ]
];
