.contentbar {
    background-color: $dark-gray-color-5;
    border: 1px solid $content-color-40;
    margin-bottom: 15px;
    min-height: 38px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    .contentbar_title {
        font-size: 1.3em;
    }

    .textblock {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contentbar_info {
        text-align: right;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        .consuming_mode_trigger:not(body.consuming_mode .consuming_mode_trigger) {
            position: relative;
            top: -3px;
            display: inline-block;
            width: 24px;
            height: 24px;
            @include icon(before, fullscreen-on, clickable, 24px, 0px);
            margin-left: 5px;
        }
    }
}

body.consuming_mode {
    #barBottomContainer, #flex-header, .secondary-navigation, #barTopStudip, #page_title_container {
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
        transition: all 300ms;
    }
    #layout_wrapper {
        padding-top: 0px;
        transition: all 300ms;
    }

    #layout-sidebar {
        margin-left: -280px;
        opacity: 0;
        transition: all 300ms;
    }
    .contentbar {
        margin-left: -12px;
        margin-right: -12px;
        padding-left: 20px;
        padding-right: 20px;
        transition: all 300ms;
    }
    .consuming_mode_trigger {
        @include icon(before, fullscreen-off, clickable, 25px, 5px);
    }
}
