.teaserbox {
    max-width: 782px;
    box-sizing: border-box;
    width: 100%;
    background-color: $content-color-20;
    padding: 24px;
    margin-bottom: 20px;
    header{
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }
}
.contents-widget {
    margin: 10px;
    .content-items {
        width: 100%;
        max-width: none;
    }
}
.content-items {
    max-width: 782px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    .content-item {
        text-align: center;
        border: solid thin $content-color-40;
        width: 100%;
        height: 100%;

        .content-item-link {
            display: block;
            padding: 10px;
        }

        header {
            color: $base-color;
            font-size: 2em;
        }
        .content-item-description {
            color: black;
            margin-bottom: 16px;
        }
        .content-item-img-wrapper {
            position: relative;
            height: 100px;

            img {
                position: absolute;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;

            }
        }
    }
}

.cw-contents-overview-teaser {
    width: 782px;
    background-color: $content-color-20;
    background-image: url("#{$image-path}/courseware-keyvisual-negative.svg");
    background-repeat: no-repeat;
    background-size: 242px auto;
    background-position-y: 50%;
    background-position-x: 24px;
    padding: 24px;
    margin-bottom: 10px;

    .cw-contents-overview-teaser-content {
        padding-left: 270px;

        header{
            font-size: 1.5em;
            margin-bottom: 0.5em;
        }
    }
}